<div>
  <section class="bg-dark mt-0">
    <div class="container text-center">
      <p class="lead text-light p-3">
        <strong
          >BLOCK 2,F2,Kolapakkam Main Road,
          <br />
          Kolapakkam,Chennai - 600116, India.</strong
        >
      </p>
    </div>
  </section>
</div>
