// Import Bootstrap
@use "custom";

// Variables
$trade: #14408a;

.nav-tex {
  font-size: 22px;
}
.bg-trade {
  background-color: $trade;
}
.mile-stn {
  font-size: 21px;
}
.mile-hd {
  font-size: 21px;
}
.psize {
  font-size: 14px;
}
.hello {
  text-align: cente;
}
.piping {
  color: #1a0dab;
}
